.date {
	font-size: 12px;
	padding: 5px;

}
#sharers {
	display: inline-block;
	background: #1f527b;
	margin-right: 5px;
	color: white;
	padding: 5px;
}
#socials {
	
	font-size: 30px;
	margin: 0 auto;
	line-height: 100%;
	color: #1f527b;
	margin-right: 5px;
}
.headline-img {
	width: 100%;
}
#end-of-content {
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	text-align: center;
}
/*img {
  background: url('loading.gif') no-repeat;
}*/
